# Data
data/raw/
data/processed/
*.csv
!submissions/*.csv

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
notebooks/catboost_info/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini